In [2]:
import numpy as np
import pandas as pd

In [2]:
t1 = pd.read_json('../input/train.json')
t1.head(2)

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address
10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],medium,40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue
10000,1.0,2,c5c8a357cba207596b04d1afd1e4f130,2016-06-12 12:19:27,,Columbus Avenue,"[Doorman, Elevator, Fitness Center, Cats Allow...",low,40.7947,7150865,-73.9667,7533621a882f71e25173b27e3139d83d,[https://photos.renthop.com/2/7150865_be3306c5...,5465,808 Columbus Avenue

In [3]:
t1.columns.values

array(['bathrooms', 'bedrooms', 'building_id', 'created', 'description',
       'display_address', 'features', 'interest_level', 'latitude',
       'listing_id', 'longitude', 'manager_id', 'photos', 'price',
       'street_address'], dtype=object)

In [51]:
sum([s.lower().count('large window') for s in t1.description])/len([s.count('subway') for s in t1.description])

0.06297617117847301

In [5]:
import time
t1['dayofyear'] = [time.strptime(x, '%Y-%m-%d %H:%M:%S').tm_yday for x in t1['created']]

In [7]:
t1.loc[:,['created', 'dayofyear']].head()

                    created  dayofyear
10      2016-06-24 07:54:24        176
10000   2016-06-12 12:19:27        164
100004  2016-04-17 03:26:41        108
100007  2016-04-18 02:22:02        109
100013  2016-04-28 01:32:41        119

In [15]:
t1['price_per_bed'] = [price/bed if bed != 0 else -1 for (price, bed) in zip(t1['price'], t1['bedrooms'])]

In [25]:
t1.index = range(t1.shape[0])

In [26]:
t1.head(5)

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address,dayofyear,price_per_bed
0,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],medium,40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue,176,1000.0
1,1.0,2,c5c8a357cba207596b04d1afd1e4f130,2016-06-12 12:19:27,,Columbus Avenue,"[Doorman, Elevator, Fitness Center, Cats Allow...",low,40.7947,7150865,-73.9667,7533621a882f71e25173b27e3139d83d,[https://photos.renthop.com/2/7150865_be3306c5...,5465,808 Columbus Avenue,164,2732.5
2,1.0,1,c3ba40552e2120b0acfc3cb5730bb2aa,2016-04-17 03:26:41,"Top Top West Village location, beautiful Pre-w...",W 13 Street,"[Laundry In Building, Dishwasher, Hardwood Flo...",high,40.7388,6887163,-74.0018,d9039c43983f6e564b1482b273bd7b01,[https://photos.renthop.com/2/6887163_de85c427...,2850,241 W 13 Street,108,2850.0
3,1.0,1,28d9ad350afeaab8027513a3e52ac8d5,2016-04-18 02:22:02,Building Amenities - Garage - Garden - fitness...,East 49th Street,"[Hardwood Floors, No Fee]",low,40.7539,6888711,-73.9677,1067e078446a7897d2da493d2f741316,[https://photos.renthop.com/2/6888711_6e660cee...,3275,333 East 49th Street,109,3275.0
4,1.0,4,0,2016-04-28 01:32:41,Beautifully renovated 3 bedroom flex 4 bedroom...,West 143rd Street,[Pre-War],low,40.8241,6934781,-73.9493,98e13ad4b495b9613cef886d79a6291f,[https://photos.renthop.com/2/6934781_1fa4b41a...,3350,500 West 143rd Street,119,837.5

In [36]:
len(t1.features.iloc[0])

0

In [39]:
t1['feature_num'] = [len(x) for x in t1['features']]
t1['photo_num'] = [len(x) for x in t1.photos]

In [106]:
outlier_addrs = t1[(t1.longitude==0) | (t1.latitude==0)]
ind = outlier_addrs.index.tolist()
ind

[106350,
 2028,
 37426,
 39134,
 46941,
 49884,
 63688,
 66197,
 69423,
 70841,
 76934,
 85521]

In [53]:
outlier_ny = [''.join([x, ', new york']) for x in outlier_addrs.street_address]

In [54]:
outlier_ny

['259 Decatur Street, new york',
 '145 28 Street, new york',
 'Van Sicklen street, new york',
 '219 E 28th, new york',
 '1632 Madison Ave, new york',
 '41-42 24th St , new york',
 '450 East 83rd Street, new york',
 '247 west 87, new york',
 '118 W 109th, new york',
 '246 Mott St , new york',
 '21 W 106th, new york',
 '338 e. 53, new york']

In [129]:
import geocoder
coords = [geocoder.google(addr).latlng for addr in outlier_ny]
#coords = pd.DataFrame(coords)
#coords.columns = ['lng', 'lat']

In [125]:
coords

          lng        lat
0   40.681647 -73.933444
1   40.747085 -73.992443
2   40.596789 -73.975039
3   40.741788 -73.979825
4   40.795761 -73.948468
5   40.751531 -73.941312
6   40.773986 -73.948994
7   42.662479 -73.778376
8   40.801498 -73.962729
9   40.723285 -73.994663
10  40.798732 -73.960986
11  42.054263 -76.004770

In [131]:
t1.loc[(t1.longitude==0) | (t1.latitude==0), ['longitude', 'latitude']] = coords

In [136]:
t1.head(5)

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address
10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],medium,40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue
10000,1.0,2,c5c8a357cba207596b04d1afd1e4f130,2016-06-12 12:19:27,,Columbus Avenue,"[Doorman, Elevator, Fitness Center, Cats Allow...",low,40.7947,7150865,-73.9667,7533621a882f71e25173b27e3139d83d,[https://photos.renthop.com/2/7150865_be3306c5...,5465,808 Columbus Avenue
100004,1.0,1,c3ba40552e2120b0acfc3cb5730bb2aa,2016-04-17 03:26:41,"Top Top West Village location, beautiful Pre-w...",W 13 Street,"[Laundry In Building, Dishwasher, Hardwood Flo...",high,40.7388,6887163,-74.0018,d9039c43983f6e564b1482b273bd7b01,[https://photos.renthop.com/2/6887163_de85c427...,2850,241 W 13 Street
100007,1.0,1,28d9ad350afeaab8027513a3e52ac8d5,2016-04-18 02:22:02,Building Amenities - Garage - Garden - fitness...,East 49th Street,"[Hardwood Floors, No Fee]",low,40.7539,6888711,-73.9677,1067e078446a7897d2da493d2f741316,[https://photos.renthop.com/2/6888711_6e660cee...,3275,333 East 49th Street
100013,1.0,4,0,2016-04-28 01:32:41,Beautifully renovated 3 bedroom flex 4 bedroom...,West 143rd Street,[Pre-War],low,40.8241,6934781,-73.9493,98e13ad4b495b9613cef886d79a6291f,[https://photos.renthop.com/2/6934781_1fa4b41a...,3350,500 West 143rd Street

In [137]:
ny_center = geocoder.google('new york').latlng

In [138]:
t1['distance_city'] = list(map(lambda lng, lat: np.sqrt((lat - ny_center[0])**2 + (lng - ny_center[1])**2), t1['longitude'], t1['latitude']))

In [139]:
t1.head(5)

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address,distance_city
10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],medium,40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue,0.063465
10000,1.0,2,c5c8a357cba207596b04d1afd1e4f130,2016-06-12 12:19:27,,Columbus Avenue,"[Doorman, Elevator, Fitness Center, Cats Allow...",low,40.7947,7150865,-73.9667,7533621a882f71e25173b27e3139d83d,[https://photos.renthop.com/2/7150865_be3306c5...,5465,808 Columbus Avenue,0.090830
100004,1.0,1,c3ba40552e2120b0acfc3cb5730bb2aa,2016-04-17 03:26:41,"Top Top West Village location, beautiful Pre-w...",W 13 Street,"[Laundry In Building, Dishwasher, Hardwood Flo...",high,40.7388,6887163,-74.0018,d9039c43983f6e564b1482b273bd7b01,[https://photos.renthop.com/2/6887163_de85c427...,2850,241 W 13 Street,0.026344
100007,1.0,1,28d9ad350afeaab8027513a3e52ac8d5,2016-04-18 02:22:02,Building Amenities - Garage - Garden - fitness...,East 49th Street,"[Hardwood Floors, No Fee]",low,40.7539,6888711,-73.9677,1067e078446a7897d2da493d2f741316,[https://photos.renthop.com/2/6888711_6e660cee...,3275,333 East 49th Street,0.056151
100013,1.0,4,0,2016-04-28 01:32:41,Beautifully renovated 3 bedroom flex 4 bedroom...,West 143rd Street,[Pre-War],low,40.8241,6934781,-73.9493,98e13ad4b495b9613cef886d79a6291f,[https://photos.renthop.com/2/6934781_1fa4b41a...,3350,500 West 143rd Street,0.124898

In [4]:
s1 = pd.read_json('../input/test.json')

In [5]:
t1['features'] = t1["features"].apply(lambda x: " ".join(["_".join(i.lower().split(" ")) for i in x]))
s1['features'] = s1["features"].apply(lambda x: " ".join(["_".join(i.lower().split(" ")) for i in x]))

In [6]:
t1.features.iloc[1]

'doorman elevator fitness_center cats_allowed dogs_allowed'

In [13]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer 

def fn_tdm_df(docs, xColNames = None, **kwargs):
    ''' create a term document matrix as pandas DataFrame
    with **kwargs you can pass arguments of CountVectorizer
    if xColNames is given the dataframe gets columns Names'''

    #initialize the  vectorizer
    vectorizer = CountVectorizer(**kwargs)
    x1 = vectorizer.fit_transform(docs)
    #create dataFrame
    df = pd.DataFrame(x1.todense())
    df.columns = vectorizer.get_feature_names()
    if xColNames is not None:
        df.columns = xColNames

    return df

In [14]:
ts1_feats = fn_tdm_df(list(t1['features']) + list(s1['features']), stop_words='english', max_features=150)

In [16]:
ts1_feats.shape

(124011, 150)

In [11]:
import json
with open('../best-plantsgo/input_plantsgo/jpgs.json') as json_data:
    photo_sizes = json.load(json_data)
keys = list(photo_sizes.keys())
photo_sizes[keys[1]]

[[640, 426], [600, 387], [360, 240]]

In [19]:
img_size_dic = {}
for key in photo_sizes.keys():
    img_list = photo_sizes[key]
    if img_list:
        mean_size = np.mean([np.prod(img) for img in img_list])
    else:
        mean_size = 0
    img_size_dic[key] = mean_size
t1['img_sizes_mean'] = [img_size_dic.get(str(key), 0) for key in t1['listing_id']]

In [20]:
t1.loc[:, ['listing_id', 'img_sizes_mean']].head(20)

        listing_id  img_sizes_mean
10         7211212   272640.000000
10000      7150865   248158.454545
100004     6887163   306560.000000
100007     6888711   307200.000000
100013     6934781   307200.000000
100014     6894514   286635.200000
100016     6930771   306560.000000
100020     6867392   252300.000000
100026     6898799   307200.000000
100027     6814332   276480.000000
100030     6869199   307200.000000
10004      7102986   306560.000000
100044     6895442   208640.000000
100048     6846213   264149.333333
10005      7089402   273065.833333
100051     6889043   289920.000000
100052     6913348   272000.000000
100053     6894111   307120.000000
100055     6900220        0.000000
100058     6848536   234112.500000

In [21]:
import json
with open("../best-plantsgo/input_plantsgo/jpgs.json", "r") as f:
    data = f.read()

data = json.loads(data)
img_dic = {}
for i in data.keys():
    img_list = data[i]
    shape_list = []
    for img in img_list:
        shape = img[0] * img[1]
        shape_list.append(shape)
    leng = len(img_list)
    try:
        img_dic[int(i)] = sum(shape_list) / leng
    except:
        img_dic[int(i)] = 0

In [23]:
t1["pic_mean"]=list(map(lambda x:img_dic.get(x,0),t1["listing_id"]))
t1.loc[:, ['listing_id', 'pic_mean']].head(20)

        listing_id       pic_mean
10         7211212  272640.000000
10000      7150865  248158.454545
100004     6887163  306560.000000
100007     6888711  307200.000000
100013     6934781  307200.000000
100014     6894514  286635.200000
100016     6930771  306560.000000
100020     6867392  252300.000000
100026     6898799  307200.000000
100027     6814332  276480.000000
100030     6869199  307200.000000
10004      7102986  306560.000000
100044     6895442  208640.000000
100048     6846213  264149.333333
10005      7089402  273065.833333
100051     6889043  289920.000000
100052     6913348  272000.000000
100053     6894111  307120.000000
100055     6900220       0.000000
100058     6848536  234112.500000

In [34]:
time_stamp = pd.read_csv('../input/listing_image_time.csv')
t1 = t1.merge(time_stamp, left_on='listing_id', right_on='Listing_Id').drop('Listing_Id', axis=1)

In [35]:
t1.head(3)

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address,time_stamp
0,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],medium,40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue,1478091590
1,1.0,2,c5c8a357cba207596b04d1afd1e4f130,2016-06-12 12:19:27,,Columbus Avenue,"[Doorman, Elevator, Fitness Center, Cats Allow...",low,40.7947,7150865,-73.9667,7533621a882f71e25173b27e3139d83d,[https://photos.renthop.com/2/7150865_be3306c5...,5465,808 Columbus Avenue,1478129766
2,1.0,1,c3ba40552e2120b0acfc3cb5730bb2aa,2016-04-17 03:26:41,"Top Top West Village location, beautiful Pre-w...",W 13 Street,"[Laundry In Building, Dishwasher, Hardwood Flo...",high,40.7388,6887163,-74.0018,d9039c43983f6e564b1482b273bd7b01,[https://photos.renthop.com/2/6887163_de85c427...,2850,241 W 13 Street,1478714436

In [36]:
t1.columns.values

array(['bathrooms', 'bedrooms', 'building_id', 'created', 'description',
       'display_address', 'features', 'interest_level', 'latitude',
       'listing_id', 'longitude', 'manager_id', 'photos', 'price',
       'street_address', 'time_stamp'], dtype=object)

In [83]:
basic_feat = pd.read_json('feat_input/basic_feat.json')
longtime_feat = pd.read_csv('feat_input/longtime_feat.csv')
encoded_feat = pd.read_csv('feat_input/feat_stats_encoding.csv')
print('Loading features finished')

all_feat = basic_feat.merge(longtime_feat, on='listing_id')
all_feat = all_feat.merge(encoded_feat, on='listing_id')

Loading features finished

In [84]:
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer('english')

all_feat['features'] = all_feat['features'].apply(lambda x: [stemmer.stem(y) for y in x])
all_feat['features'] = all_feat['features'].apply(lambda x: ['_'.join(['feature'] + y.split()) for y in x])
all_feat['features'] = all_feat['features'].apply(lambda x: ' '.join(x))

In [85]:
pd.options.display.max_columns = 999
pd.options.display.max_rows = 999

In [88]:
all_feat.head(3)

,bathrooms,bed_bath_dif,bed_bath_rt,bed_bath_sum,bed_room_rt,bedrooms,building_id,created_day,created_hour,created_month,day_of_week,day_of_year,desc_wordcount,display_address,distance_city,feature_num,features,img_sizes_mean,interest_level,latitude,listing_id,longitude,manager_id,photo_num,price,price_bath_rt,price_bed_rt,price_room_rt,street_address,time_stamp,jwd_type_low_than_num,jwd_type_all,jwd_type_rt,building_zero_num,bathrooms_size_manager_id,bathrooms_mean_manager_id,bathrooms_std_manager_id,bathrooms_median_manager_id,bathrooms_max_manager_id,bathrooms_min_manager_id,bedrooms_size_manager_id,bedrooms_mean_manager_id,bedrooms_std_manager_id,bedrooms_median_manager_id,bedrooms_max_manager_id,bedrooms_min_manager_id,latitude_size_manager_id,latitude_mean_manager_id,latitude_std_manager_id,latitude_median_manager_id,latitude_max_manager_id,latitude_min_manager_id,longitude_size_manager_id,longitude_mean_manager_id,longitude_std_manager_id,longitude_median_manager_id,longitude_max_manager_id,longitude_min_manager_id,price_size_manager_id,price_mean_manager_id,price_std_manager_id,price_median_manager_id,price_max_manager_id,price_min_manager_id,distance_city_size_manager_id,distance_city_mean_manager_id,distance_city_std_manager_id,distance_city_median_manager_id,distance_city_max_manager_id,distance_city_min_manager_id,price_size_bedrooms,price_mean_bedrooms,price_std_bedrooms,price_median_bedrooms,price_max_bedrooms,price_min_bedrooms,bathrooms_size_bedrooms,bathrooms_mean_bedrooms,bathrooms_std_bedrooms,bathrooms_median_bedrooms,bathrooms_max_bedrooms,bathrooms_min_bedrooms,price_size_bathrooms,price_mean_bathrooms,price_std_bathrooms,price_median_bathrooms,price_max_bathrooms,price_min_bathrooms,manager_id_low,manager_id_medium,manager_id_high,price_manager_id_mean_pred_0,price_manager_id_mean_pred_1,price_manager_id_mean_pred_2
0,1.5,1.5,2.0,4.5,0.666667,3,53a5b119ba8f7b61d4e010512e0dfc85,24,7,6,4,176,95,Metropolitan Avenue,0.063465,0,,272640.000000,1,40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,5,3000,2000.0,1000.0,666.666667,792 Metropolitan Avenue,1478091590,3,8,0.375000,134,235,1.106383,0.305508,1.0,2.0,1.0,235,1.502128,0.935412,1.0,4,0,235,40.701596,0.025991,40.6989,40.8502,40.6455,235,-73.950168,0.022847,-73.95320,-73.8525,-73.9917,235,2541.914894,524.703572,2600.0,4400,1700,235,0.063195,0.020893,0.062504,0.155173,0.021933,18149,5101.319246,2997.884836,4500.0,90000,500,18149,1.585404,1.056916,1.5,112.0,0.0,1642,4220.228989,1289.434792,4122.5,12000,1600,0.727554,0.179567,0.092879,1834.666667,701.866667,0.0
1,1.0,1.0,2.0,3.0,0.666667,2,c5c8a357cba207596b04d1afd1e4f130,12,12,6,6,164,9,Columbus Avenue,0.090830,5,feature_doorman feature_elev feature_fitness_c...,248158.454545,0,40.7947,7150865,-73.9667,7533621a882f71e25173b27e3139d83d,11,5465,5465.0,2732.5,1821.666667,808 Columbus Avenue,1478129766,1546,1563,0.989123,983,194,1.360825,0.544603,1.0,3.5,0.0,194,1.623711,0.831787,1.0,5,0,194,40.755336,0.025488,40.7512,40.8051,40.7047,194,-73.985078,0.015970,-73.98715,-73.9438,-74.0148,194,5419.932990,1905.188512,4700.0,12995,1995,194,0.049146,0.027100,0.039343,0.101942,0.002745,37114,3988.552837,25610.353074,3350.0,4490000,1,37114,1.247023,0.458671,1.0,20.0,0.0,99086,3183.390015,17543.181907,2900.0,4490000,1,0.727554,0.179567,0.092879,5380.956522,28.913043,0.0
2,1.0,-1.0,0.0,1.0,0.000000,0,0,14,1,4,3,105,28,York Avenue,0.087295,0,,307200.000000,0,40.7769,6869199,-73.9467,e32475a6134d6d18279946b7b20a0f12,1,1950,1950.0,-1.0,1950.000000,1661 York Avenue,1478714534,1507,3345,0.450523,1803,46,1.478261,0.809365,1.0,4.0,1.0,46,1.347826,1.215043,1.0,5,0,46,40.760400,0.015775,40.7596,40.7865,40.7243,46,-73.968461,0.012727,-73.96750,-73.9467,-74.0103,46,6240.826087,7464.901209,3450.0,45000,1950,46,0.060923,0.019246,0.062171,0.088904,0.012314,23564,2518.378925,3476.750266,2400.0,469000,43,23564,0.986717,0.148746,1.0,4.0,0.0,99086,3183.390015,17543.181907,2900.0,4490000,1,0.727554,0.179567,0.092879,6129.888889,0.000000,0.0

In [90]:
all_feat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 124011 entries, 0 to 124010
Data columns (total 94 columns):
bathrooms                          124011 non-null float64
bed_bath_dif                       124011 non-null float64
bed_bath_rt                        124011 non-null float64
bed_bath_sum                       124011 non-null float64
bed_room_rt                        124011 non-null float64
bedrooms                           124011 non-null int64
building_id                        124011 non-null object
created_day                        124011 non-null int64
created_hour                       124011 non-null int64
created_month                      124011 non-null int64
day_of_week                        124011 non-null int64
day_of_year                        124011 non-null int64
desc_wordcount                     124011 non-null int64
display_address                    124011 non-null object
distance_city                      124011 non-null float64
feature_num                        124011 non-null int64
features                           124011 non-null object
img_sizes_mean                     124011 non-null float64
interest_level                     124011 non-null int64
latitude                           124011 non-null float64
listing_id                         124011 non-null int64
longitude                          124011 non-null float64
manager_id                         124011 non-null object
photo_num                          124011 non-null int64
price                              124011 non-null int64
price_bath_rt                      124011 non-null float64
price_bed_rt                       124011 non-null float64
price_room_rt                      124011 non-null float64
street_address                     124011 non-null object
time_stamp                         124011 non-null int64
jwd_type_low_than_num              124011 non-null int64
jwd_type_all                       124011 non-null int64
jwd_type_rt                        124011 non-null float64
building_zero_num                  124011 non-null int64
bathrooms_size_manager_id          124011 non-null int64
bathrooms_mean_manager_id          124011 non-null float64
bathrooms_std_manager_id           124011 non-null float64
bathrooms_median_manager_id        124011 non-null float64
bathrooms_max_manager_id           124011 non-null float64
bathrooms_min_manager_id           124011 non-null float64
bedrooms_size_manager_id           124011 non-null int64
bedrooms_mean_manager_id           124011 non-null float64
bedrooms_std_manager_id            124011 non-null float64
bedrooms_median_manager_id         124011 non-null float64
bedrooms_max_manager_id            124011 non-null int64
bedrooms_min_manager_id            124011 non-null int64
latitude_size_manager_id           124011 non-null int64
latitude_mean_manager_id           124011 non-null float64
latitude_std_manager_id            124011 non-null float64
latitude_median_manager_id         124011 non-null float64
latitude_max_manager_id            124011 non-null float64
latitude_min_manager_id            124011 non-null float64
longitude_size_manager_id          124011 non-null int64
longitude_mean_manager_id          124011 non-null float64
longitude_std_manager_id           124011 non-null float64
longitude_median_manager_id        124011 non-null float64
longitude_max_manager_id           124011 non-null float64
longitude_min_manager_id           124011 non-null float64
price_size_manager_id              124011 non-null int64
price_mean_manager_id              124011 non-null float64
price_std_manager_id               124011 non-null float64
price_median_manager_id            124011 non-null float64
price_max_manager_id               124011 non-null int64
price_min_manager_id               124011 non-null int64
distance_city_size_manager_id      124011 non-null int64
distance_city_mean_manager_id      124011 non-null float64
distance_city_std_manager_id       124011 non-null float64
distance_city_median_manager_id    124011 non-null float64
distance_city_max_manager_id       124011 non-null float64
distance_city_min_manager_id       124011 non-null float64
price_size_bedrooms                124011 non-null int64
price_mean_bedrooms                124011 non-null float64
price_std_bedrooms                 124011 non-null float64
price_median_bedrooms              124011 non-null float64
price_max_bedrooms                 124011 non-null int64
price_min_bedrooms                 124011 non-null int64
bathrooms_size_bedrooms            124011 non-null int64
bathrooms_mean_bedrooms            124011 non-null float64
bathrooms_std_bedrooms             124011 non-null float64
bathrooms_median_bedrooms          124011 non-null float64
bathrooms_max_bedrooms             124011 non-null float64
bathrooms_min_bedrooms             124011 non-null float64
price_size_bathrooms               124011 non-null int64
price_mean_bathrooms               124011 non-null float64
price_std_bathrooms                124011 non-null float64
price_median_bathrooms             124011 non-null float64
price_max_bathrooms                124011 non-null int64
price_min_bathrooms                124011 non-null int64
manager_id_low                     124011 non-null float64
manager_id_medium                  124011 non-null float64
manager_id_high                    124011 non-null float64
price_manager_id_mean_pred_0       124011 non-null float64
price_manager_id_mean_pred_1       124011 non-null float64
price_manager_id_mean_pred_2       124011 non-null float64
dtypes: float64(56), int64(33), object(5)
memory usage: 89.9+ MB

In [91]:
train = pd.read_json('../input/train.json')
test = pd.read_json('../input/test.json')
test['interest_level'] = [-1]*test.shape[0]
all_raw = train.append(test)

In [114]:
all_raw.loc[all_raw.listing_id==7213381, 'description'].values

array([''], dtype=object)

In [117]:
all_raw = all_raw.replace('', np.nan)

In [118]:
all_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 124011 entries, 10 to 99999
Data columns (total 15 columns):
bathrooms          124011 non-null float64
bedrooms           124011 non-null int64
building_id        124011 non-null object
created            124011 non-null object
description        120278 non-null object
display_address    123661 non-null object
features           124011 non-null object
interest_level     124011 non-null object
latitude           124011 non-null float64
listing_id         124011 non-null int64
longitude          124011 non-null float64
manager_id         124011 non-null object
photos             124011 non-null object
price              124011 non-null int64
street_address     123988 non-null object
dtypes: float64(3), int64(3), object(9)
memory usage: 15.1+ MB

In [95]:
csv_train = pd.read_csv('../input/train.csv')
csv_test = pd.read_csv('../input/test.csv')
csv_test['interest_level'] = [-1]*test.shape[0]
all_csv = csv_train.append(csv_test)

In [119]:
all_csv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 124011 entries, 0 to 74658
Data columns (total 16 columns):
bathrooms          124011 non-null float64
bedrooms           124011 non-null int64
building_id        124011 non-null object
created            124011 non-null object
description        120278 non-null object
display_address    123661 non-null object
features           124011 non-null object
id                 124011 non-null int64
interest_level     124011 non-null object
latitude           124011 non-null float64
listing_id         124011 non-null int64
longitude          124011 non-null float64
manager_id         124011 non-null object
photos             124011 non-null object
price              124011 non-null int64
street_address     123988 non-null object
dtypes: float64(3), int64(4), object(9)
memory usage: 16.1+ MB

In [125]:
feat_basic_csv = pd.read_csv('feat_input/basic_feat.csv')

In [126]:
import re
feat_basic_csv.features = feat_basic_csv.features.apply(lambda x: re.findall(r"[\w'|\ ]+", x))

In [127]:
feat_basic_csv.features.head()

0            [Pre, War,  Dishwasher,  Hardwood Floors]
1    [Loft,  Laundry in Unit,  Hardwood Floors,  Do...
2                     [Furnished,  Short Term Allowed]
3                                                   []
4    [Cats Allowed,  Dogs Allowed,  No Fee,  Reduce...
Name: features, dtype: object

In [154]:
all_csv.description.iloc[:20].apply(lambda x: x.count('quiet') if x is not np.nan else 0)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     1
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: description, dtype: int64

In [155]:
feat_basic_json = pd.read_json('feat_input/basic_feat.json')

In [156]:
feat_basic_csv.columns.values

array(['bathrooms', 'bedrooms', 'building_id', 'display_address',
       'features', 'interest_level', 'latitude', 'listing_id', 'longitude',
       'manager_id', 'price', 'street_address', 'feature_num', 'photo_num',
       'desc_wordcount', 'distance_city', 'day_of_year', 'created_month',
       'created_day', 'created_hour', 'day_of_week', 'price_bed_rt',
       'price_bath_rt', 'price_room_rt', 'bed_bath_rt', 'bed_bath_dif',
       'bed_bath_sum', 'bed_room_rt', 'time_stamp', 'img_sizes_mean'], dtype=object)

In [157]:
feat_basic_json.columns.values

array(['bathrooms', 'bed_bath_dif', 'bed_bath_rt', 'bed_bath_sum',
       'bed_room_rt', 'bedrooms', 'building_id', 'created_day',
       'created_hour', 'created_month', 'day_of_week', 'day_of_year',
       'desc_wordcount', 'display_address', 'distance_city', 'feature_num',
       'features', 'img_sizes_mean', 'interest_level', 'latitude',
       'listing_id', 'longitude', 'manager_id', 'photo_num', 'price',
       'price_bath_rt', 'price_bed_rt', 'price_room_rt', 'street_address',
       'time_stamp'], dtype=object)

In [176]:
feat_basic_csv = feat_basic_csv.sort_values('listing_id', ascending=True).reset_index()
feat_basic_json = feat_basic_json.sort_values('listing_id', ascending=True).reset_index()

In [177]:
feat_basic_csv.columns.values

array(['index', 'bathrooms', 'bedrooms', 'building_id', 'display_address',
       'features', 'interest_level', 'latitude', 'listing_id', 'longitude',
       'manager_id', 'price', 'street_address', 'feature_num', 'photo_num',
       'desc_wordcount', 'distance_city', 'day_of_year', 'created_month',
       'created_day', 'created_hour', 'day_of_week', 'price_bed_rt',
       'price_bath_rt', 'price_room_rt', 'bed_bath_rt', 'bed_bath_dif',
       'bed_bath_sum', 'bed_room_rt', 'time_stamp', 'img_sizes_mean'], dtype=object)

In [178]:
feat_basic_json.columns.values

array(['index', 'bathrooms', 'bed_bath_dif', 'bed_bath_rt', 'bed_bath_sum',
       'bed_room_rt', 'bedrooms', 'building_id', 'created_day',
       'created_hour', 'created_month', 'day_of_week', 'day_of_year',
       'desc_wordcount', 'display_address', 'distance_city', 'feature_num',
       'features', 'img_sizes_mean', 'interest_level', 'latitude',
       'listing_id', 'longitude', 'manager_id', 'photo_num', 'price',
       'price_bath_rt', 'price_bed_rt', 'price_room_rt', 'street_address',
       'time_stamp'], dtype=object)

In [203]:
for a in feat_basic_csv.columns.values:
    if a not in ['index', 'features']:
        if type(feat_basic_json[a][0]) == np.float64:
            print(a, sum(abs(1 - feat_basic_csv[a] / feat_basic_json[a]) > 1e-4))
        else:
            print(a, sum(feat_basic_json[a] != feat_basic_csv[a]))

bathrooms 0
bedrooms 0
building_id 0
display_address 528
interest_level 0
latitude 0
listing_id 0
longitude 0
manager_id 0
price 0
street_address 201
feature_num 124011
photo_num 124011
desc_wordcount 0
distance_city 0
day_of_year 0
created_month 0
created_day 0
created_hour 0
day_of_week 0
price_bed_rt 0
price_bath_rt 0
price_room_rt 0
bed_bath_rt 0
bed_bath_dif 0
bed_bath_sum 0
bed_room_rt 0
time_stamp 0
img_sizes_mean 0

In [247]:
feat_basic_json.display_address = feat_basic_json.display_address.replace(r'\r$', '', regex=True)
feat_basic_json.street_address = feat_basic_json.street_address.replace(r'\r$', '', regex=True)
feat_basic_json.display_address = feat_basic_json.display_address.replace('', np.nan)
feat_basic_json.street_address = feat_basic_json.street_address.replace('', np.nan)

In [248]:
for a in feat_basic_csv.columns.values:
    if a not in ['index', 'features']:
        if type(feat_basic_json[a][0]) == np.float64:
            print(a, sum(abs(1 - feat_basic_csv[a] / feat_basic_json[a]) > 1e-4))
        else:
            print(a, sum(feat_basic_json[a] != feat_basic_csv[a]))

bathrooms 0
bedrooms 0
building_id 0
display_address 350
interest_level 0
latitude 0
listing_id 0
longitude 0
manager_id 0
price 0
street_address 23
feature_num 124011
photo_num 124011
desc_wordcount 0
distance_city 0
day_of_year 0
created_month 0
created_day 0
created_hour 0
day_of_week 0
price_bed_rt 0
price_bath_rt 0
price_room_rt 0
bed_bath_rt 0
bed_bath_dif 0
bed_bath_sum 0
bed_room_rt 0
time_stamp 0
img_sizes_mean 0

In [258]:
feat_basic_csv[['street_address']].loc[feat_basic_csv.street_address != feat_basic_json.street_address].shape

(23, 1)

In [252]:
feat_basic_json[['street_address']].loc[feat_basic_csv.street_address != feat_basic_json.street_address].shape

(23, 1)

In [254]:
feat_basic_csv[['display_address']].loc[feat_basic_csv.display_address != feat_basic_json.display_address].shape

(350, 1)

In [255]:
feat_basic_json[['display_address']].loc[feat_basic_csv.display_address != feat_basic_json.display_address].shape

(350, 1)

In [256]:
np.nan == np.nan

False